/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
  }


body{
    background:  #98c1d9;
    height: 100vh;
    width: 100vw;
    background-position: cover;
}
